#rightCol{
    display: none !important;
}
#leftCol{

}
.groupsCoverPhoto {
    display: none !important;
}
#contentArea{
    width: 97% !important;
    right: 0 !important;
}
#u_0_4{
    margin-top: 60px !important;
}
#u_0_5{
    position: absolute;
    top: 62px !important;
}
#u_0_6{
    display: none !important;
}
#content_container{
    background: white;
    padding-top: 15px!important;
}
#u_0_h{
    float: right;
}
#headerArea{
    padding: 0px !important;
}

#seo_h1_tag{
    font-weight: bold;
}

._4x9_._48-k::before, ._sa_ ._48-k::before{
    background-image: url(/rsrc.php/v3/yb/r/RuATZlyh0SV.png);
    background-repeat: no-repeat;
}